Dear Subs Team,

In the last period the dead letter exchange received {{numberOfMessages}} messages(s).

Message count by routing key:

{{#countByRoutingKey}}
{{key}}: {{value}}
{{/countByRoutingKey}}

You can find the first message by routing key in the attachment.

Thanks,
Dead Letter Notifier

Sent from {{hostname}} by {{username}}, using the {{configName}} config
Messages sent every {{messageRate}} milliseconds




