Dear Subs Team,

In the last period the dead letter exchange received {{numberOfMessages}} messages(s).
You can find the relevant messages in the attachment.

Happy fixing! :-)

Dead Letter Notifier

