Dear Subs Team,

In the last period the dead letter exchange received {{numberOfMessages}} messages(s).

Message count by routing key:

{{#countByRoutingKey}}
{{key}}: {{value}}
{{/countByRoutingKey}}

You can find the first message by routing key in the attachment.

Happy fixing! :-)

Dead Letter Notifier


